<%- include('../partials/head.ejs') %>
<nav>
	<ul>
		<li><a href='/signout'>Uitloggen</a></li>
	</ul>
</nav>
	<main>
	<section>
		<h3>Reports</h3>
		<a href='/reports'>[1] Report</a>
		</section>

	<section>
		<h3>Gebruikers</h3>
		<a href='/gebruikers'>Gebruikers</a>
	</section>
</main>
<%- include('../partials/foot.ejs') %>