<%- include('../partials/head.ejs') %>
<nav>
	<ul>
	<li><a href='admindashboard.html'>Dashboard</a></li>
		<li><a href='signout.html'>Uitloggen</a></li>
	</ul>
</nav>
	<main>
	<h2>Reports</h2>
	<section>
		<h3>Profiel Report:</h3>
		<p>Betreft: Naakt <a href='/reportdetail'>Bekijk Report</a></p>
	</section>
	<section>
		<h3>Chat Report:</h3>
		<p>Betreft: Intimidatie. <a href='/reportdetail'>Bekijk Report</a></p>
	</section>
</main>
<%- include('../partials/foot.ejs') %>
