<%- include('../partials/head.ejs') %>

<nav>
	<ul>
	<li><a href='/admindashboard'>Dashboard</a></li>
		<li><a href='/signout'>Uitloggen</a></li>
	</ul>
</nav>
	<main>
	<h2>Reports</h2>
	<section>
		<h3>Profiel Report:</h3>
		<p>Betreft: Naaktfoto's <a href='/matchdetailadmin'>Bekijk Report</a></p>
	</section>
</main>

<%- include('../partials/foot.ejs') %>