<%- include('../partials/head.ejs') %>

<nav>
	<ul>
	<li><a href='/dashboard'>Dashboard</a></li>
		<form action="/signout" method="post">
			<input type=submit value="uitloggen">
			</form>
	</ul>
</nav>
	<main>
	<h2>Berichten</h2>
	<section>
		<h3>Bericht van: Liza</h3>
		<p>Hey, ik zag dat we dezelfde interesses hadden zullen we elkaar wat beter leren kennen?</p>
		
		
		<h3>Bericht sturen</h3>
		<form action='/verstuurd'>
Je bericht:<br>
<input type="text" size="50"><br><br>
<input type="submit" value="Versuur">
</form>
	</section>

</main>

	<%- include('../partials/foot.ejs') %>
