<%- include('../partials/head.ejs') %>

<nav>
	<ul><li><a href='/dashboard'>Dashboard</a></li>
		<li><a href='/signout'>Uitloggen</a></li>
	</ul>
</nav>
	<main>
	<section>
		<h1>Bedankt</h1>
		<p>Je report is succesvol verstuurd.</p>
		<p>Klik <a href='/dashboard'>hier</a> om naar je dashboard te gaan.</p>
	</section>
</main>


<%- include('../partials/foot.ejs') %>