<%- include('../partials/head.ejs') %>
<nav>
	<ul>
		<li><a href='/aanmelden'>Aanmelden</a></li>
	</ul>
</nav>
<body>
	<main>
	<section>
		<h1>Uitgelogd</h1>
		<p>Je bent succesvol uitgelogd.</p>
		<p>Klik <a href='/'>hier</a> om naar de homepagina te gaan.</p>
	</section>
</main>

<%- include('../partials/foot.ejs') %>
